@if(personData){
<h1>{{ personData.first_name }} {{ personData.last_name }}</h1>

<h2><b>Biuro:</b>{{ personData.office }}</h2><br />
<br />


<mat-form-field appearance="outline">
  <mat-label><b>Posada: </b></mat-label>
  <mat-select value="{{personData.position}}" disabled >
    <mat-option value="Mechanik">Mechanik</mat-option>
    <mat-option value="Sprzedawca">Sprzedawca</mat-option>
    <mat-option value="driver">Kierowca</mat-option>
  </mat-select>
</mat-form-field>
<br />
<b>Płaca: </b>{{personData.salary}}<br />
<br />
<b>Poczatek zmiany: </b>{{personData.shift_start}}<br />
<b>Koniec zmiany: </b>{{personData.shift_end}}<br />
<b>ID: </b>{{personData.id}}<br />

} @else { Proszę wybrać pracownika z listy
<mat-icon
  id="missingData"
  aria-hidden="false"
  fontIcon="person_outline"
></mat-icon>
}
