@if(!personData){ Proszę wybrać pracownika z listy
<mat-icon
  id="missingData"
  aria-hidden="false"
  fontIcon="person_outline"
></mat-icon>

} @else {
<h3 id="edit-toggle">
  Edycja:<mat-slide-toggle
    color="accent"
    [(ngModel)]="isChecked"
  ></mat-slide-toggle>
</h3>
@if( !isChecked ){

<h1>{{ personData.first_name }} {{ personData.last_name }}</h1>

<h2><b>Biuro:</b>{{ personData.office }}</h2>
<br />
<br />

<b>Posada: </b> {{ personData.position }} <br />

<br />
<b>Płaca: </b>{{ personData.salary }}<br />
<br />
<b>Poczatek zmiany: </b>{{ personData.shift_start }}<br />
<b>Koniec zmiany: </b>{{ personData.shift_end }}<br />
<b>ID: </b>{{ personData.id }}<br />

} @else {

<br />
<form [formGroup]="employeeForm">
  <mat-form-field appearance="outline">
    <mat-label><b>Imię</b></mat-label>
    <input
      formControlName="first_name"
      
      matInput
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label><b>Nazwisko</b></mat-label>
    <input formControlName="last_name" matInput />
  </mat-form-field>
  <br />

  <mat-form-field appearance="outline">
    <mat-label><b>Biuro</b></mat-label>
    <mat-select  formControlName="office" >
      @for (office of officeList; track office) {
        <mat-option [value]="office">{{ office }}</mat-option>
        }
    </mat-select>
  </mat-form-field>
  <br />

  <mat-form-field appearance="outline">
    <mat-label><b>Posada</b></mat-label>
    <mat-select formControlName="position">
      @for (position of positionList; track position) {
      <mat-option [value]="position">{{ position }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <br />
  <mat-form-field appearance="outline">
    <mat-label><b>Płaca</b></mat-label>
    <input
    formControlName="salary"
      class="example-right-align"
      type="number"
      min="0"
      step="0.05"
      matInput
    />
    <span matTextSuffix>PLN/GODZ</span>
  </mat-form-field>
  <br />
  <br />

  <mat-form-field appearance="outline">
    <mat-label><b>Poczatek zmiany</b></mat-label>
    <input
    formControlName="shift_start"
      class="example-right-align"
      type="time"
      matInput
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label><b>Koniec zmiany</b></mat-label>
    <input
      formControlName="shift_end"
      class="example-right-align"
      type="time"
      matInput
    />
  </mat-form-field>
</form>
<br />
<b>ID: </b>{{ personData.id }}<br />
<div class="save-controls">
  <button mat-raised-button color="warn"><h5>Usuń pracownika</h5></button>
  <button mat-raised-button color="primary" (click)="printPerson()">
    <h5>Zapisz zmiany</h5>
  </button>
</div>
} }
