@if(!personData){ Proszę wybrać pracownika z listy
<mat-icon
  id="missingData"
  aria-hidden="false"
  fontIcon="person_outline"
></mat-icon>

} @else {
<h3 id="edit-toggle">
  Edycja:<mat-slide-toggle
    color="accent"
    [(ngModel)]="isChecked"
  ></mat-slide-toggle>
</h3>
@if( !isChecked ){

<h1>{{ personData.name }} {{ personData.lastName }}</h1>

<h2><b>Email:</b>{{ personData.email }}</h2>
<br />
<b>Biuro:</b>{{ personData.office }}
<br />

<b>Posada: </b> {{ personData.role?.replace("ROLE_", '')?.toLocaleLowerCase() }} <br />

<br />
<b>Płaca: </b>{{ personData.salary }}<br />
<br />
<b>Poczatek zmiany: </b>{{ personData.shiftStart }}<br />
<b>Koniec zmiany: </b>{{ personData.shiftEnd }}<br />
<b>ID: </b>{{ personData.id }}<br />

} @else {

<br />
<form [formGroup]="employeeForm">
  <mat-form-field appearance="outline">
    <mat-label><b>Imię</b></mat-label>
    <input formControlName="name" matInput />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label><b>Nazwisko</b></mat-label>
    <input formControlName="lastName" matInput />
  </mat-form-field>
  <br />
  <mat-form-field appearance="outline">
    <mat-label><b>Email</b></mat-label>
    <input type="email" formControlName="email" matInput />
  </mat-form-field>
  <br />
  <mat-form-field appearance="outline">
    <mat-label><b>Biuro</b></mat-label>
    <mat-select formControlName="office">
      @for (office of officeList; track office) {
      <mat-option [value]="office">{{ office }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <br />

  <mat-form-field appearance="outline">
    <mat-label><b>Posada</b></mat-label>
    <mat-select formControlName="position">
      @for (position of positionList; track position) {
      <mat-option [value]="position">{{ position }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <br />
  <mat-form-field appearance="outline">
    <mat-label><b>Płaca</b></mat-label>
    <input
      formControlName="salary"
      class="example-right-align"
      type="number"
      min="0"
      step="0.05"
      matInput
    />
    <span matTextSuffix>PLN/GODZ</span>
  </mat-form-field>
  <br />
  <br />

  <mat-form-field appearance="outline">
    <mat-label><b>Poczatek zmiany</b></mat-label>
    <input
      formControlName="shiftStart"
      class="example-right-align"
      type="time"
      matInput
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label><b>Koniec zmiany</b></mat-label>
    <input
      formControlName="shiftEnd"
      class="example-right-align"
      type="time"
      matInput
    />
  </mat-form-field>
</form>
<br />
<b>ID: </b>{{ personData.id }}<br />
<div class="save-controls">
  <button mat-raised-button color="warn" (click)="delEmployee()"><h5>Usuń pracownika</h5></button>
  <button mat-raised-button color="primary" (click)="modEmployee()">
    <h5>Zapisz zmiany</h5>
  </button>
</div>
} }
