.filters-card {
  display: flex;
  margin-top: 24px;
  width: 100%;
}

.card-title {
  margin-left: 16px;
  margin-bottom: 16px;
  font-size: 24px;
}

.title {
  margin-left: 16px;
}

.filter-groups {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.group {
  width: calc(100% - 32px);
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.group:not(:first) {
  margin-top: 16px;
}
.search-button {
  align-self: flex-end;
  margin: 16px 32px;
}

.button-tooltip {
  width: fit-content;
  align-self: flex-end;
  margin: 16px 32px;
}

.filter-select-box {
  width: calc((100% - 64px) / 3);
}
