.percentage-h2 {
  margin: 10px;
  text-align: center;
  font-size: 1em;
}
#percentage-val {
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
}

.percentage-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

// .percentage-margin {
//   margin: 0 10px;
// }

.percentage-card {
  
  
  min-height: 200px;
  display: inline-block;
}
mat-progress-spinner {
  left: 50%;
  transform: scale(-1, -1) translate(50%, 0);
}
