<div class="select-box">
  @if (selectData.list.length > 0) {
  <mat-form-field class="filter-select-box">
    <mat-label
      >@if (matIcon) {
      <mat-icon class="icon">{{ matIcon }}</mat-icon>
      }{{ selectData.name }}</mat-label
    >
    <mat-select
      [(value)]="selectValue"
      (selectionChange)="onSelectionChange($event)"
    >
      @for (option of selectData.list; track $index) {
      <mat-option [value]="option">
        {{ option }}
      </mat-option>
      }
    </mat-select>
    @if (parsedControl?.hasError('required')) {
    <mat-error>Wybór tej opcji jest wymagany</mat-error>
    }
  </mat-form-field>
  @if (!isRequired) {

  <button class="clear-icon" mat-icon-button (click)="onClear()">
    <mat-icon style="scale: 1.75; color: rgba(0, 0, 0, 0.65)">clear</mat-icon>
  </button>
  } }
</div>
