<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <p>Auto-resizing sidenav</p>
    @if (showFiller) {
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
    }
    <button (click)="onClick()" mat-raised-button>Toggle extra text</button>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        aria-label="Burger menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <img class="dziupla-logo" src="assets/logo-wide.svg" />
      <span class="example-spacer"></span>
      <button mat-icon-button aria-label="Login or account icon">
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
