<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <b>Nawigacja</b>
    <br /><br />
    <a
      class="site-button"
      (click)="navigate('/vehicle-selection'); drawer.toggle()"
      mat-flat-button
      >Wyszukiwanie</a
    ><br />
    @if(isShowOwnerBoard){<a
      class="site-button"
      (click)="navigate('/owner'); drawer.toggle()"
      mat-flat-button
      >Widok właściciela</a
    ><br />} @if(isShowManagementBoard){<a
      class="site-button"
      (click)="navigate('/manager'); drawer.toggle()"
      mat-flat-button
      >Widok manadżera</a
    ><br />} @if(isShowManagementBoard){
    <a
      class="site-button"
      (click)="navigate('/manager/offices'); drawer.toggle()"
      mat-flat-button
      >Przegląd biur</a
    ><br />
    }
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="accent">
      <button
        mat-icon-button
        aria-label="Burger menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <a class="dziupla-link" href="/"
        ><img class="dziupla-logo" alt="dziupla" src="assets/logo-wide.svg"
      /></a>
      <span class="example-spacer"></span>
      @if (!isLoggedIn) {
      <button
        (click)="onLogin()"
        mat-icon-button
        aria-label="Login or account icon"
      >
        <mat-icon>person</mat-icon>
      </button>
      } @else {

      <mat-icon>person</mat-icon>
      <span class="small-spacer"></span>
      {{ username }}
      <span class="small-spacer"></span>
      <button (click)="onLogout()" mat-icon-button aria-label="Logout">
        <mat-icon>logout</mat-icon>
      </button>
      }
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
