<div class="layoutBox-v" fxLayout="column" fxLayoutGap="50px">
  <div
    class="layoutBox-h"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="10px"
    fxLayoutAlign="space-evenly stretch"
  >
    <mat-card fxFlex="50" fxFlexOrder="1" fxFlexOrder.xs="2">
      <mat-card-header>
        <mat-card-title><h2>Lista Pracowników</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-entry-list
          name_header="Imię i nazwisko"
          [entries]="responseData?.employees"
          (selectionEmitter)="selectEntry($event)"
        ></app-entry-list>
      </mat-card-content>
      <button id="addEmp" mat-fab color="primary" aria-label="add a new employee">
        <mat-icon>plus_one</mat-icon>
      </button>
    </mat-card>
    <mat-card fxFlex="50" fxFlexOrder="2" fxFlexOrder.xs="1">
      <mat-card-header>
        <mat-card-title><h2>Profil Pracownika</h2></mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <app-employee-details
          [positionList]="positions"
          [officeList]="responseData?.offices"
          [personData]="personResponse"
          (modPersonEmitter)="modifyEmployee($event)"
          (delPersonEmitter)="deleteEmployee($event)"
        ></app-employee-details>
      </mat-card-content>
    </mat-card>
  </div>
</div>
