.layoutBox-v {
  margin: 1%;
  height: 88%;
}
.layoutBox-h {
  height: 100%;
}
mat-card-content {
  overflow-y: scroll;
}
#registerBox{
  position: absolute;
  z-index: 1000;
  top: 50%;
  transform: translate(0%, -50%);
}
#cancel {
  position: absolute;
  top: 0px;
  z-index: 2000;
}