<div class="layoutBox-v" fxLayout="column" fxLayoutGap="50px">
  <div
    class="layoutBox-h"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="10px"
    fxLayoutAlign="space-evenly stretch"
  >
    <mat-card fxFlex="50" fxFlexOrder="1" fxFlexOrder.xs="2">
      <mat-card-header>
        <mat-card-title><h2>Lista Pracowników</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-entry-list
          name_header="Imię i nazwisko"
          [entries]="responseData?.employees"
          (selectionEmitter)="selectEntry($event)"
          (creationEmitter)="createEmployee()"
        ></app-entry-list>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="50" fxFlexOrder="2" fxFlexOrder.xs="1">
      <mat-card-header>
        <mat-card-title><h2>Profil Pracownika</h2></mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <app-employee-details
          [positionList]="positions"
          [officeList]="responseData?.offices"
          [personData]="personResponse"
          [isChecked]="askForEdit"
          (modPersonEmitter)="modifyEmployee($event)"
          (delPersonEmitter)="deleteEmployee($event)"
        ></app-employee-details>
      </mat-card-content>
    </mat-card>
    @if(this.addNew){
    <div id="darkness" (click)="createEmployeeCancel()"></div>
    <div id="registerBox">
      <app-register-view
        [endpoint]="'employee'"
        [title]="'Zarejestruj pracownika'"
        (successEmitter)="registered($event)"
      >
      </app-register-view>
      <button
        id="cancel"
        (click)="createEmployeeCancel()"
        mat-fab
        color="warn"
        aria-label="add a new employee"
      >
        <mat-icon>cancel</mat-icon>
      </button>
    </div>

    }
  </div>
</div>
