@import "theme.scss";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.global-primary {
  color: #f0f0f0;
}

.global-accent {
  color: #85d322;
}

.global-warn {
  color: #d42626;
}
